[0;1;32m●[0m telegram_bot_v2ray.service - V2RAY_BOT
     Loaded: loaded (]8;;file://ubuntu-s-1vcpu-1gb-amd-sgp1-01/etc/systemd/system/telegram_bot_v2ray.service/etc/systemd/system/telegram_bot_v2ray.service]8;;; [0;1;38;5;185mdisabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;32mactive (running)[0m since Thu 2024-01-18 22:33:00 UTC; 16s ago
   Main PID: 3167 (python3)
      Tasks: 8 (limit: 1100)
     Memory: 35.7M
        CPU: 514ms
     CGroup: /system.slice/telegram_bot_v2ray.service
             └─[0;38;5;245m3167 /root/telegram_bot/v2ray-bot/venv/bin/python3 /root/telegram_bot/v2ray-bot/main.py[0m

Jan 18 22:33:00 ubuntu-s-1vcpu-1gb-amd-sgp1-01 systemd[1]: Stopped telegram_bot_v2ray.service - V2RAY_BOT.
Jan 18 22:33:00 ubuntu-s-1vcpu-1gb-amd-sgp1-01 systemd[1]: Started telegram_bot_v2ray.service - V2RAY_BOT.
Jan 18 22:33:00 ubuntu-s-1vcpu-1gb-amd-sgp1-01 python3[3167]: /root/telegram_bot/v2ray-bot/venv/lib/python3.11/site-packages/telegram/ext/conversationhandler.py:288: UserWarning: If 'per_message=False', 'CallbackQueryHandler' will not be tracked for every message.
Jan 18 22:33:00 ubuntu-s-1vcpu-1gb-amd-sgp1-01 python3[3167]:   warnings.warn(
